<!DOCTYPE html>
<html>
  <head>
    <title><%= current_spina_account.name %></title>
    <%= stylesheet_link_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'default/shared/header' %>

    
    <div class="bg-base-200">
    <%= yield %>
    </div>

    <%= render 'default/shared/footer' %>
  </body>
</html>
